@font-face {
    font-family: squarepeg;
    src: url(./SquarePeg-Regular.ttf);
}

:root {
    --background-color: #023047;
    --button-background: #219ebc;
    --input-background: #8ecae6;
    --data-font: #ffb703;
    --header-font: #fb8500;
}

body,
    html {
        height: 100%;
        font-family: squarepeg;
        font-size: 30px;
        background-color: var(--background-color);
        color: var(--data-font);
    }
body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

table {
    border-collapse: collapse;
    border: 2px solid white;
    letter-spacing: 1px;
    font-size: 0.8rem;
    border-style: hidden;
    }
    
td, th {
    border-style: hidden;
    padding: 10px 20px;

}

th {
    color: var(--header-font);
}

td {
    color: var(--data-font);
    text-align: center;
}

tbody tr td:nth-child(4),
tbody tr td:nth-child(5){
    display: flex;
    justify-content: center;
    border-style: hidden;
}

input,
select {
    background-color: var(--background-color);
    border: 1px solid var(--data-font);
    color: var(--data-font);
}

button {
    background-color: var(--background-color);
    color: var(--data-font);
    width: 75px;
    height: 20px;
    border: 1px solid var(--data-font);
    border-radius: 5px;
}